/* Your CSS here. */
.card {
    /*inside card*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*size+shape card*/
    width: 600px;
    height: 400px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: lightblue;
    padding: 50px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}